*{
	margin:0;
	padding:0;
	font-family: Tahoma, Verdana, "ו";
}

#head {
	height:93px;
	background-image:url(../img/11.PNG);
	background-repeat:repeat-x;
}

#head-in {
	height:93px;
	width:961px;
	margin:0 auto;
}

#logo {
	height:93px;
	width:350px;
	font-size:36px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	line-height:85px;
	overflow:hidden;
}

#zhuce:hover{
	background-color:rgb(228,0,2);
}
