* {
	margin:0;
	padding:0;
	font-family: Tahoma, Verdana, "宋体";
}

#head {
	height:93px;
	background-image:url(../img/11.PNG);
	background-repeat:repeat-x;
}

#head-in {
	height:93px;
	width:961px;
	margin:0 auto;
}

#logo {
	height:93px;
	width:350px;
	font-size:36px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	line-height:85px;
	overflow:hidden;
}

#content {
	height:500px;
}

#content-in {
	width:1100px;
	margin:0 auto;
	background-color:#ffffff;
}

#content-left {
	width:550px;
	float:left;
}


#left-pic{
	width:401px;
	margin:0 auto;
	margin-top:50px;
}


#content-right {
	width:550px;
	float:right;
}

#right-pic{
	width:401px;
	margin:0 auto;
	margin-top:50px;
}

#bottom{
	height:200px;
	padding-top:20px;


}

#bottom table{
	text-align:center;
	font-size:12px;
	line-height:20px;
}